@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #faf9f6;
    --pinkStrong: #f86b86;
    --brownText: #694009;
    --brownPlaceholder: #69400970;
    --pinkWeak: #ff617b25;
  }
}

body {
  color: var(--brownText);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
